.lead {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: var(--font-family);
}

.lead__image {
  width: 90%;
  object-fit: contain;
}

.lead__text {
  margin: 0;
  width: 80%;
  text-align: center;
  color: var(--text-color);
  font-size: var(--font-size-medium);
  font-weight: 200;
  line-height: 1.21;
}
