.header {
  width: 90%;
  max-width: 440px;
  padding-top: 20px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.header__logo {
  width: 68px;
  height: 68px;
  object-fit: contain;
}

.header__menu-button {
  width: 91px;
  height: 21px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: inherit;
  background-image: url('../../images/menu.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
